In [1]:
age = 19
if age < 18:
    print('Minor')
else:
    print('Adult')

Adult

In [3]:
n = 11
if n % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [5]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [12]:
total = 0
for i in range(1, 6):
    total += i
print(total)

15

In [13]:
i = 5
while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

In [20]:
def greet(name):
    print(f"hello", name)

greet("oiadj")

hello oiadj

In [21]:
table =[]
for i in range(1, 11):
    table.append(i * 3)
print(table)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [26]:
list1 = []
for i in range(10, 101, 10):
    print (i)
'list1 = [i for i in range(10, 20, 30)]'

10
20
30
40
50
60
70
80
90
100

'list1 = [i for i in range(10, 20, 30)]'

In [27]:
numbers = [10, 20, 30]
for i in numbers:
    print(i)

10
20
30

In [31]:
number = 0.5
if number >0:
    print("+ive")
elif number<0:
    print("-ve")
else:
    print(0)

+ive

In [33]:
for i in range(5):
    print('Hi')

Hi
Hi
Hi
Hi
Hi

In [ ]:
#Medium

In [2]:
odd_numbers = 0
for i in range(1, 50):
    if i % 2 != 0:
        odd_numbers += i
print(odd_numbers)

625

In [1]:
sentence = "My name is Aakash Ojha. I live in India."
def count_vowels(text):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in vowels:
        if char in vowels:
            count += 1
    return count

print(count_vowels(sentence))

10

In [6]:
def table(n):
    for i in range(1, 20):
        print(f"{n} * {i} = {n*i}")

table(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38

In [16]:
def reverse_string(text):
    reversed_string = ('')
    for char in text:
        reversed_string = char + reversed_string
    return reversed_string

reverse_string("aassj keekek ejeje shjs")

'sjhs ejeje kekeek jssaa'

In [22]:
def largest_num(numbers):
    max = numbers[0]
    for num in numbers:
        if num > max:
            max = num
    return largest_num
print(largest_num([10, 20, 30, 7, 9, 10]))

<function largest_num at 0x10b4f58a0>

In [28]:
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(sum_list([10, 4, 5, 10, 50]))

79

In [38]:
def count_numbers(num):
    count = 0
    while num > 0:
        count += 1
        num //= 10
    return count

count_numbers(10101010010101001)

len(str(abs(-1919010101)))

10

In [40]:
def fibanocci(n):
    a, b = 0, 1
    for i in range(n):
        print(a)
        a, b = b, a+b

fibanocci(100)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

In [43]:
def pallindrome(word):
    reversed_word = ''
    for char in word:
        reversed_word = char + reversed_word
    return word == reversed_word

pallindrome("madam")

True

In [46]:
def pallindrome(word):
    return word == word[::-1]

pallindrome("madam")

True

In [53]:
numbers = [1, 2, 3, 4, 5, 6]
numnbers1 = []
for i in numbers:
    if i % 2 ==0:
        numnbers1.append(i)

print(numnbers1)

[2, 4, 6]

In [54]:
divisible = []
for num in range(51):
    if num % 5 ==0:
        divisible.append(num)
    
print(divisible)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
ttt-888